body {
  font-family: Helvetica;
}


/*CABECERA*/

.header {
  background-color: #07031c;
  font-size: 2em;
  padding: 20px;
}

.titlevariante{
  color: #FF6C00;
  font-size: 20px;
}

.header--title {
  margin: 0;
  color: #F6F6F6;
  line-height: 3.5;
}

/*CABECERA*/

/*MENU*/

.nav {
  background-color: #131525;
  padding-top: 2em;
  padding-right: 0;
}

.nav ul{
  padding-left: 0;
  flex: 1;
}

.nav--item{
  list-style: none;
  border-bottom: 1px solid black;;
}

.nav--link{
  text-decoration: none;
  color: #FF6C00;
  line-height: 2;
  padding-left: 1.5em;
}

.nav--link:hover{
  color: white;
  padding-left: 2.5em;
  transition: .2s ease;
  text-decoration: none;
}

/*MENU*/

/*CONTENIDO*/

.main {
  padding-right: 0;
}

.name-etiquetas{
  font-size: 12px;
  color: black;
  font-weight: bold;
}

.articuloTop {
  margin-bottom: 3em;
  padding: 1em 0;
  box-shadow: 0 2px #ccc;
}

.articuloHead {
  text-align: center;
  padding-top: 2.5em;
}

.articuloHead--title {
  margin: 0;
}

.articuloHead--time {
  display: block;
  font-size: 14px;
}

.articuloComment{
  margin: 2em 0;
  text-align: left;
  background-color: rgba(237,237,237,1);
  padding: 1em;
}

.articuloHead--time,
.articuloComment--time {
  color: gray;
  font-style: italic;
}

.articuloComment--time {
  display: block;
  font-size: 12px;
}

.articuloContent {
  padding-top: 1em;
  width: 400px;
  text-align: justify;
  font-size: 14px;
  margin: 0 auto;
}

.articuloContent--img{
  padding: 2em 0;
  display: block;
  width: 550px;
  margin: 0 auto;
}

.articuloFooter {
  padding: .5em 0;
  padding-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.articuloFooter--etiquetasLink{
  color: black;
}

.articuloFooter--etiquetasLink:hover{
  color: #FF6C00;
}

.articuloFooter--etiquetas {
  margin: 0;
  font-size: 10px;
  background: lightgray;
  border-radius: 8px;
  padding: 5px 10px;
  display: inline-block;
}

.articuloComment--user{
  width: 40px;
  height: 60px;
  margin-right: .5em;
  padding-bottom: 1em;
}

.articuloComment--content{
  font-size: 14px;
}

.articulo {
  padding: 0 2em 2em 2em;
}

.articuloComentario {
  padding: 1em 0;
}

.articuloComment--box {
  width: 80%;
  padding: 1em 1em;
  margin-right: 1em;
  outline: none;
}


.mainArticulo > p {
  padding: 1em 0;
}

.comment-perfil{
  display: flex;
}

.comment-datos{
  padding-top: 1em;
}

.comment-user{
  display: block;
  font-weight: bold;
  line-height: 6px;
}

.comment-description{
  font-size: 12px;
  font-weight: normal;
}

/*CONTENIDO*/

/*FOOTER*/

.footer {
  background-color: #10878b;
  line-height: 5;
  color: white;
  text-align: center;
}

.footer--title{
  margin: 0;
}

/*FOOTER*/
